SMTP_HOST='smtp.gmail.com'
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER='info@dflix.com'
SMTP_PASS='Dfl!x_2022@123'
SMTP_FROM='info@dflix.com'
CONTACT_TO_EMAIL='info@nuradha.com'
SMTPSecure = true
SMTPAuth = true